@using SFA.DAS.EmployerUrlHelper.Mvc
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Learners";
    ViewBag.GaData.Vpv = "/unapproved/add";
}

<h1 class="govuk-heading-xl">Learners</h1>
<hr class="das-section-break das-section-break--l das-section-break--heavy-grey">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="das-cards">
            <div class="das-card das-card--underline">                
                <h2 class="govuk-heading-m das-card__heading"><a id="AddLearner" href="@Url.Action("Inform", "Cohort", new { Model.AccountHashedId })" class="govuk-link">Add a learner or send a learner request</a></h2>
                <p>Add a learner, or send your training provider a learner request.</p>
            </div>
            <div class="das-card das-card--underline">
                <h2 class="govuk-heading-m das-card__heading"><a id="YourCohorts" href="@Url.Action("Review", "Cohort", new { Model.AccountHashedId })" class="govuk-link">Review learner requests</a></h2>
                <p>Review, edit and approve learner requests sent by your training provider.</p>
            </div>
            <div class="das-card">
                <h2 class="govuk-heading-m das-card__heading"><a id="ManageApprentices" href="@Url.Action("Index", "Apprentice", new { Model.AccountHashedId })" class="govuk-link">Manage your learners</a></h2>
                <p>View approved learners, update their details, change training providers, and stop or pause payments to training providers.</p>
            </div>
            @if (Model.ShowSetPaymentOrderLink)
            {
                <div class="das-card">
                    <h2 class="govuk-heading-m"><a id="SetPaymentOrder" href="@Url.Action("ProviderPaymentOrder", "PaymentOrder", new { Model.AccountHashedId })" class="govuk-link">Set payment order</a></h2>
                    <p>View and change the order in which your providers are paid from your available funds.</p>
                </div>
            }
        </div>
    </div>
</div>

@section Back
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" id="breadcrumb-home" href="@Url.AccountsLink($"/accounts/{Model.AccountHashedId}/teams")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Learners</li>
        </ol>
    </div>

}
