@model SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship.AddDraftApprenticeshipViewModel

@{
    ViewData["Title"] = "Apprenticeships";
    ViewBag.GaData.Vpv = "/unapproved/apprentices/add";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Add apprentice details</h1>
        <div class="govuk-inset-text">
            <p class="govuk-body">You must add the apprentice’s first and last names - fill in as many other fields as you can. You'll be able to return later to make changes or add more information. </p>
            <p class="govuk-body">You'll only be able to authorise payments for this apprentice once all the fields have been completed - either by yourself or your training provider</p>
        </div>

        <form id="addApprenticeship" novalidate method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.CohortReference)
            @Html.HiddenFor(x => x.ProviderId)
            @Html.HiddenFor(x => x.AccountLegalEntityHashedId)

            <partial name="_DraftApprenticeship" for="@Model" />

            <button type="submit" class="govuk-button">Save and continue</button>
        </form>

    </div>
</div>

@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@
