@using  SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship.EditDraftApprenticeshipViewModel
@*@inject ILinkGenerator LinkGenerator
@inject SFA.DAS.Authorization.Services.IAuthorizationService AuthorizationService*@

@{
    ViewData["Title"] = "Apprenticeships";
    ViewBag.GaData.Vpv = "/unapproved/apprentices/edit";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Edit apprentice details</h1>
        <div class="govuk-inset-text">
            <p class="govuk-body">You'll only be able to authorise payments for this apprentice once all the fields have been completed - either by yourself or your training provider</p>
        </div>

        <form id="addApprenticeship" novalidate method="post">
            @Html.AntiForgeryToken()
            <partial name="_DraftApprenticeship" for="@Model" />
            <button type="submit" class="govuk-button">Save</button>

            <a class="govuk-button govuk-button--warning das-float-right" href="@Url.RouteUrl("DeleteDraftApprenticeship", new { Model.DraftApprenticeshipHashedId, Model.CohortReference, Model.AccountHashedId, Origin = DeleteDraftApprenticeshipOrigin.EditDraftApprenticeship })">
                Delete
            </a>
        </form>

    </div>
</div>



@Html.ActionLink("Return to group of apprentices", "Details", "Cohort", new { @Model.AccountHashedId, @Model.CohortReference }, new { @class = "govuk-link", id = "return-link" })


@section Back
{
    @Html.ActionLink("Back", "Details", "Cohort", new { @Model.AccountHashedId, @Model.CohortReference }, new { @class = "govuk-back-link", id = "back-link" })
}



@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@
