@model SFA.DAS.EmployerCommitmentsV2.Web.Models.EditDraftApprenticeshipViewModel
@inject ILinkGenerator LinkGenerator

@{
    ViewData["Title"] = "Apprenticeships";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Edit apprentice details</h1>
        <div class="govuk-inset-text">
            <p class="govuk-body">You'll only be able to authorise payments for this apprentice once all the fields have been completed - either by yourself or your training provider</p>
        </div>

        <form id="addApprenticeship" novalidate method="post" action="@Url.Action("EditDraftApprenticeship")">
            @Html.AntiForgeryToken()
            <partial name="DraftApprenticeship" for="@Model" />
            <button type="submit" class="govuk-button">Save</button>
            <a class="govuk-button govuk-button--warning das-float-right" href="@LinkGenerator.CommitmentsLink($"accounts/{Model.AccountHashedId}/apprentices/{Model.CohortReference}/apprenticeships/{Model.DraftApprenticeshipHashedId}/delete")">Delete</a>
            @*<p class="govuk-body  govuk-!-margin-bottom-0">
                <a class="govuk-body govuk-link" href="@Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/{Model.CohortReference}/details")">Cancel</a>
            </p>*@
        </form>

    </div>
</div>

@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@
