@using  SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship.EditDraftApprenticeshipViewModel

@{
    ViewData["Title"] = "Edit apprentice details";
    ViewBag.GaData.Vpv = "/unapproved/cohort/apprentices/apprentice/edit";
    ViewBag.GaData.Org = Model.LegalEntityName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form id="addApprenticeship" novalidate method="post">
            @Html.AntiForgeryToken()

            <button type="submit" id="defaultButton" aria-hidden="true" class="govuk-visually-hidden" tabindex="-1"></button>

            <partial name="_DraftApprenticeship" for="@Model" />

            <button type="submit" id="continue-button" class="govuk-button">Save</button>

            <a class="govuk-button govuk-button--warning das-float-right" href="@Url.RouteUrl("DeleteDraftApprenticeship", new { Model.DraftApprenticeshipHashedId, Model.CohortReference, Model.AccountHashedId, Origin = DeleteDraftApprenticeshipOrigin.EditDraftApprenticeship })">
                Delete
            </a>
        </form>

    </div>
</div>



@Html.ActionLink("Return to group of apprentices", "Details", "Cohort", new { @Model.AccountHashedId, @Model.CohortReference }, new { @class = "govuk-link", id = "return-link" })


@section Back
{
    <div class="das-js-back-link"></div>
}



@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@
