@using SFA.DAS.CommitmentsV2.Shared.Extensions
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship.ViewDraftApprenticeshipViewModel

@{
    ViewData["Title"] = "View apprentice details";
    ViewBag.GaData.Vpv = "/unapproved/apprentices/edit";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">View apprentice details</h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    First name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.FirstName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.LastName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Unique learner number
                </dt>
                <dd class="govuk-summary-list__value">
                    @DisplayOptionalField(Model.Uln)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    @DisplayOptionalField(Model.DateOfBirth)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Apprenticeship training course
                </dt>
                <dd class="govuk-summary-list__value">
                    @DisplayOptionalField(Model.TrainingCourse)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Planned training start date
                </dt>
                <dd class="govuk-summary-list__value">
                    @DisplayOptionalEstimatedDate(Model.StartDate)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Planned training end date
                </dt>
                <dd class="govuk-summary-list__value">
                    @DisplayOptionalEstimatedDate(Model.EndDate)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total agreed apprenticeship price
                </dt>
                <dd class="govuk-summary-list__value">
                    @DisplayCost(Model.Cost)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reference
                </dt>
                <dd class="govuk-summary-list__value">
                    @DisplayOptionalField(Model.Reference)
                </dd>
            </div>
        </dl>
    </div>
</div>

@functions
{
    private string DisplayOptionalField(string value)
    {
        return !string.IsNullOrWhiteSpace(value) ? value : "--";
    }

    private string DisplayOptionalField(DateTime? value)
    {
        return value.HasValue ? value.Value.ToGdsFormat() : "--";
    }

    private string DisplayOptionalEstimatedDate(DateTime? value)
    {
        return value.HasValue ? $"{value:MMMM yyyy}" : "--";
    }

    private string DisplayCost(int? value)
    {
        return value.HasValue ? value.Value.ToGdsCostFormat() : "--";
    }
}

@Html.ActionLink("Return to group of apprentices", "Details", "Cohort", new { @Model.AccountHashedId, @Model.CohortReference }, new { @class = "govuk-link", id = "return-link" })

@section Back
{
    @Html.ActionLink("Back", "Details", "Cohort", new { @Model.AccountHashedId, @Model.CohortReference }, new { @class = "govuk-back-link", id = "back-link" })
} 