@inject ILinkGenerator LinkGenerator;
@using SFA.DAS.EmployerCommitmentsV2.Web.Extensions
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ChangeProviderRequestedConfirmationViewModel
@{
    ViewData["Title"] = "Change of training provider requested - Apprenticeship service - GOV.UK";
    var apprenticeDisplayName = Model.ApprenticeName.EndsWith("s") ? Model.ApprenticeName + "'" : Model.ApprenticeName + "'s";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title"> Change of training provider requested </h1>
        </div>

        <h2 class="govuk-heading-m"> What happens next </h2>

        @if (Model.ProviderAddDetails)
        {
            <p class="govuk-body">We’ll ask @Model.ProviderName to enter the new apprenticeship dates and price. Once they've added @apprenticeDisplayName apprenticeship details, you can sign in to view them.</p>
        }
        else
        {
            <p class="govuk-body">We'll ask @Model.ProviderName to check the details of this change. If they make any changes, it will come back to you.</p>
            <p class="govuk-body">You and @Model.ProviderName must both approve the apprentice’s details.</p>
        }

        <p class="govuk-body"> Once you both approve them, @Model.ProviderName will become @apprenticeDisplayName new training provider.</p>
        <a class="govuk-body govuk-link" href="@LinkGenerator.EmployerHome(Model.AccountHashedId)" id="account-home-link">Return to account home </a>
    </div>
</div>

