@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ChangePaymentsRequestViewModel

@{
    ViewBag.Title = Model.FreezeStatus ? "Resume payments to training provider" : "Pause payments to your training provider";
    ViewBag.Section = "apprentices";
    ViewBag.PageId = "change-payments";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="FreezeStatus" />
            <input type="hidden" asp-for="AccountHashedId" />
            <input type="hidden" asp-for="ApprenticeshipHashedId" />
            <input type="hidden" asp-for="ApprenticeshipId" />
            <input type="hidden" asp-for="AccountId" />
            <input type="hidden" asp-for="ApprenticeName" />
            <input type="hidden" asp-for="ULN" />
            <input type="hidden" asp-for="Course" />
            <input type="hidden" asp-for="PauseDate" />
            <input type="hidden" asp-for="ResumeDate" />
            <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
            @if (Model.FreezeStatus)
            {
                <p class="govuk-body">
                    If you resume payments, the learner status will not be changed. To change the learner status, contact the training provider.
                    Payments cannot be resumed for a learner with a status of paused, stopped or completed.
                </p>
            }
            else
            {
                <p class="govuk-body">You can pause payments to the training provider if:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>the learner is on a break</li>
                    <li>the learner has withdrawn</li>
                    <li>there is a change to training details</li>
                    <li>you disagree with an auto approved change</li>
                </ul>
                <p class="govuk-body">
                    The learner status will not be changed. If you need to change the learner status, contact your training provider.
                </p>
            }
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">@Model.ApprenticeName</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Unique learner number</dt>
                    <dd class="govuk-summary-list__value">@Model.ULN</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Training course</dt>
                    <dd class="govuk-summary-list__value">@Model.Course</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Pause date</dt>
                    <dd class="govuk-summary-list__value">@Model.PauseDate.ToGdsFormatWithoutDay()</dd>
                </div>
                @if (Model.FreezeStatus && Model.ResumeDate.HasValue)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Resume date</dt>
                        <dd class="govuk-summary-list__value">@Model.ResumeDate.Value.ToGdsFormatWithoutDay()</dd>
                    </div>
                }
            </dl>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What happens when you @(Model.FreezeStatus ? "resume" : "pause") payments?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    @if (Model.FreezeStatus)
                    {
                        <p class="govuk-body">Resuming payments will restart future transactions.</p>
                        <p class="govuk-body">You can resume payments anytime until the last day of the month. Payments will be recalculated and resumed by the next payment date.</p>
                    }
                    else
                    {
                        <p class="govuk-body">Pausing payments will suspend future transactions.</p>
                        <p class="govuk-body">You can pause payments anytime until the last day of the month. Payments will be paused for the current and future months until resumed.</p>
                    }
                </div>
            </details>
            @if (!Model.FreezeStatus)
            {
                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.FreezePaymentsReason, "govuk-form-group--error")">
                    <label class="govuk-label" for="FreezePaymentsReason">
                        Reason for pausing payments
                    </label>
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState[nameof(ChangePaymentsRequestViewModel.FreezePaymentsReason)]?.Errors.Count > 0)
                    {
                        <span id="error-message-@nameof(ChangePaymentsRequestViewModel.FreezePaymentsReason)" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(ChangePaymentsRequestViewModel.FreezePaymentsReason)].Errors.First().ErrorMessage
                        </span>
                    }
                    <select class="govuk-select @Html.AddClassIfPropertyInError(x => x.FreezePaymentsReason, "govuk-select--error")"
                            id="FreezePaymentsReason"
                            name="FreezePaymentsReason">
                        <option value="">Please select...</option>
                        @foreach (var reason in FreezePaymentsReasonOption.All)
                        {
                            <option value="@reason.Value" selected="@(Model.FreezePaymentsReason == reason.Value ? "selected" : null)">@reason.DisplayText</option>
                        }
                    </select>
                </div>
            }
            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.ChangeConfirmed, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset" aria-describedby="@(ViewData.ModelState.IsValid ? null : $"error-message-{nameof(ChangePaymentsRequestViewModel.ChangeConfirmed)}")">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you want to @(Model.FreezeStatus ? "resume" : "pause") payments to your training provider?
                    </legend>
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState[nameof(ChangePaymentsRequestViewModel.ChangeConfirmed)]?.Errors.Count > 0)
                    {
                        <span id="error-message-@nameof(ChangePaymentsRequestViewModel.ChangeConfirmed)" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(ChangePaymentsRequestViewModel.ChangeConfirmed)].Errors.First().ErrorMessage
                        </span>
                    }
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ChangeConfirmed" name="ChangeConfirmed" type="radio" value="true" checked="@(Model.ChangeConfirmed == true ? "checked" : null)">
                            <label class="govuk-label govuk-radios__label" for="ChangeConfirmed">
                                @(Model.FreezeStatus ? "Yes, resume payments" : "Yes, pause payments")
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ChangeConfirmed-no" name="ChangeConfirmed" type="radio" value="false" checked="@(Model.ChangeConfirmed == false ? "checked" : null)">
                            <label class="govuk-label govuk-radios__label" for="ChangeConfirmed-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit" id="submit-change-payments">Confirm changes</button>
        </form>
    </div>
</div>

@section back {
    <a id="back-link" class="govuk-back-link" href="@Url.Action("ApprenticeshipDetails", new ApprenticeshipDetailsRequest { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.ApprenticeshipHashedId })">Back</a>
}
