@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.RouteValues
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ChangeVersionViewModel
@{
    ViewData["Title"] = "Select a standard version";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ValidationSummary" />

        <h1 class="govuk-heading-xl">Select a standard version</h1>

        @if (!string.IsNullOrEmpty(Model.StandardUrl))
        {
            <div class="govuk-inset-text">
                <p class="govuk-body">For more information visit <a class="govuk-link" href="@Model.StandardUrl" target="_blank">the IfATE page for this standard (opens in a new tab)</a>.</p>
            </div>
        }

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"> Apprenticeship training course </dt>
                <dd class="govuk-summary-list__value"> @Model.StandardTitle </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"> Version </dt>
                <dd class="govuk-summary-list__value"> @Model.CurrentVersion </dd>
            </div>
        </dl>
    </div>
</div>

<form id="change-version-form" method="post">
    <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.SelectedVersion, "govuk-form-group--error")">
        <div id="select-a-version-hint" class="govuk-hint">
            Select a version
        </div>
        @Html.ValidationMessageFor(m => m.SelectedVersion, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.SelectedVersion) })

        <div class="govuk-radios">
            @foreach (var version in Model.NewerVersions)
            {
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" id="version-@version" name="SelectedVersion" value="@version" @(version == Model.SelectedVersion ? "checked" : "") >
                    <label class="govuk-label govuk-radios__label" for="version-@version">Version @version</label>
                </div>
            }
        </div>
    </div>

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit" id="continue-button">
            Save and continue
        </button>

        <a class="govuk-link govuk-link--no-visited-state" href="@Url.RouteUrl(RouteNames.CancelInProgressChangeOfCircumstance)" id="cancel-button">Cancel and return</a>
    </div>
</form>

@section back {
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ApprenticeDetail)">Back</a>
}