@inject ILinkGenerator LinkGenerator
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ConfirmHasValidEndDateViewModel

@{
    string pageTitle;
    string pageHeading;

    pageHeading = pageTitle = "Confirm a planned end date for apprenticeship training";
    ViewBag.Title = pageTitle;
    ViewBag.GaData.Vpv = "/accounts/apprentices/manage/confirm-has-valid-End-Date-apprenticeship";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ValidationSummary" />

        <form method="post">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.EndDate)

            <h1 class="govuk-heading-xl">@pageHeading</h1>

            <p>
                We have received notification of a new apprenticeship for this learner. You need to update the planned end date with the actual end date.
            </p>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Name </dt>
                    <dd class="govuk-summary-list__value"> @Model.ApprenticeName</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Unique learner number </dt>
                    <dd class="govuk-summary-list__value"> @Model.ULN</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Apprenticeship training course </dt>
                    <dd class="govuk-summary-list__value"> @Model.Course</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Planned end date </dt>
                    <dd class="govuk-summary-list__value"> @Model.EndDate.ToGdsFormatLongMonthNameWithoutDay()</dd>
                </div>
            </dl>

             <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.EndDateConfirmed,  "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span id="error-message-@nameof(ConfirmHasValidEndDateViewModel.EndDateConfirmed)" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(ConfirmHasValidEndDateViewModel.EndDateConfirmed)].Errors.First().ErrorMessage
                        </span>
                    }

                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Is the planned end date correct?</h2>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="EndDateConfirmed" name="EndDateConfirmed" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="EndDateConfirmed">
                                Yes, that date is correct
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="EndDateConfirmed" name="EndDateConfirmed" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="EndDateConfirmed">
                                No, that is the wrong date
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" type="submit" id="submit-status-change">Continue</button>
        </form>

    </div>
</div>

@section Back
 {
    <div class="das-js-back-link"></div>
}