@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice
@using SFA.DAS.CommitmentsV2.Types
@using SFA.DAS.EmployerCommitmentsV2.Web.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.RouteValues

@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.ApprenticeshipDetailsRequestViewModel

@{
    ViewBag.Title = "Apprentice details";
    ViewBag.Section = "apprentices";
    ViewBag.PageId = "apprentices-detail";
    ViewBag.GaData.Vpv = "/accounts/apprentices/manage/apprentice-details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="DetailsPartials/_Banners" />

        <h1 class="govuk-heading-xl" id="learnerName">@Model.ApprenticeName</h1>

        @if (Model.IsOnFlexiPaymentPilot.GetValueOrDefault())
        {
            <div class="govuk-inset-text">
                This apprentice is part of the simplified payments pilot. To change these details, you must contact your training provider.
            </div>
        }

        @{
            if (Model.ApprenticeshipStatus != ApprenticeshipStatus.Stopped && Model.ApprenticeshipStatus != ApprenticeshipStatus.Completed)
            {
                <p class="govuk-body">
                    Edit details if there's a change in apprentice or apprenticeship circumstances.
                </p>
            }
        }
        @if (Model.ConfirmationStatus == ConfirmationStatus.Overdue)
        {
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help with your apprentice’s overdue confirmation
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>If your apprentice has not confirmed their apprenticeship details within the 14 day deadline, you should:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            contact the apprentice to complete their apprenticeship confirmation
                        </li>
                    </ul>
                </div>
            </details>
        }

        <table id="app-status" class="govuk-table govuk-!-margin-bottom-8">
            <tbody>
                <tr>
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Status</th>

                    <td class="govuk-table__cell das-table-cell-width-40">
                        <strong class="govuk-tag @Model.ApprenticeshipStatus.GetDisplayClass()">
                            @Model.ApprenticeshipStatus.GetDescription()
                        </strong>
                    </td>

                    <td id="editStatusLink" class="govuk-table__cell das-table-cell-width-15 govuk-table__cell--numeric">
                        @if (Model.CanEditStatus && !Model.IsOnFlexiPaymentPilot.GetValueOrDefault())
                        {
                            <a id="edit-status-link" href="@Url.Action("ChangeStatus", new ChangeStatusRequest { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId })" class="govuk-link">Edit status</a>
                        }
                    </td>
                </tr>
                @if (@Model.ApprenticeshipStatus == ApprenticeshipStatus.Paused)
                {
                    <tr>
                        <th scope="row" class="govuk-table__header">Apprenticeship pause date</th>
                        <td id="pauseDate" class="govuk-table__cell" colspan="2">
                            @if (Model.PauseDate.HasValue)
                            {
                                @Model.PauseDate.Value.ToGdsFormat()
                            }
                        </td>
                    </tr>
                }

                @if (Model.ApprenticeshipStatus == ApprenticeshipStatus.Completed)
                {
                    <tr>
                        <th scope="row" class="govuk-table__header">Completion payment month</th>
                        <td id="completionDate" class="govuk-table__cell" colspan="2">
                            @if (Model.CompletionDate.HasValue)
                            {
                                @Model.CompletionDate.Value.ToGdsFormatLongMonthNameWithoutDay()
                                ;
                            }
                        </td>
                    </tr>
                }

                @if (Model.ApprenticeshipStatus == ApprenticeshipStatus.Stopped)
                {
                    <tr>
                        <th scope="row" class="govuk-table__header">Stopped date</th>
                        <td id="stopDate" class="govuk-table__cell">
                            @if (Model.StopDate.HasValue)
                            {
                                @Model.StopDate.Value.ToGdsFormatLongMonthWithoutDay()
                            }
                        </td>
                        <td id="editStopDateLink" class="govuk-table__cell govuk-table__cell--numeric">
                            <a id="edit-stopped-link" class="govuk-link" href="@Url.Action("EditStopDate", new EditStopDateRequest {AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId})">Edit</a>
                        </td>
                    </tr>

                    @if (Model.MadeRedundant.HasValue)
                    {
                        <tr>
                            <th scope="row" class="govuk-table__header">Made redundant</th>
                            <td id="madeRedundant" class="govuk-table__cell" colspan="2">
                                @(Model.MadeRedundant.Value ? "Yes" : "No")
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <th scope="row" class="govuk-table__header">Apprentice confirmation</th>
                    <td id="confirationStatus" class="govuk-table__cell" colspan="2">
                        @Model.ConfirmationStatus.ToDisplayString()
                    </td>
                </tr>

                @if(Model.IsOnFlexiPaymentPilot == true)
                {
                    <tr>
                        <th scope="row" class="govuk-table__header">Provider payments status</th>
                        <td id="provider-payments-status" class="govuk-table__cell" colspan="2">
                            <strong class="govuk-tag govuk-tag--blue">@Model.PaymentStatus</strong>
                        <td class="govuk-table__cell"><a id="linkChangePaymentStatus" href="@Model.PaymentStatusChangeUrl" class="govuk-link">Change</a></td>
                        </td>
                    </tr>
                }


                <tr>
                    <th scope="row" class="govuk-table__header">Training provider</th>
                    <td class="govuk-table__cell">@Model.ProviderName</td>
                    @if (Model.ShowChangeTrainingProviderLink && !Model.IsOnFlexiPaymentPilot.GetValueOrDefault())
                    {
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a id="change-training-provider-link" class="govuk-link" href="@Url.Action("ChangeProviderInform", new  ChangeProviderInformRequest{ AccountHashedId = Model.AccountHashedId ,  ApprenticeshipHashedId = Model.HashedApprenticeshipId })">Change<span class="govuk-visually-hidden"> training provider</span></a>
                        </td>
                    }
                    else
                    {
                        <td class="govuk-table__cell"></td>
                    }
                </tr>
                <tr>
                    <th scope="row" class="govuk-table__header">Cohort reference</th>
                    <td id="cohort-reference" class="govuk-table__cell">@Model.CohortReference</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                @if (Model.TrainingProviderHistory != null && Model.TrainingProviderHistory.Count > 1)
                {
                    <tr>
                        <th scope="row" class="govuk-table__header">Training provider history</th>
                        <td id="training-provider-history" class="govuk-table__cell">
                            @foreach (var trainingProvider in Model.TrainingProviderHistory)
                            {
                                <p class="govuk-body">
                                    @if (trainingProvider.ShowLink)
                                    {
                                        <a href="@Url.Action("ApprenticeshipDetails", new ApprenticeshipDetailsRequest { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = trainingProvider.HashedApprenticeshipId })">@trainingProvider.ProviderName</a>

                                        <br>
                                    }
                                    else
                                    {
                                        <span>@trainingProvider.ProviderName</span>

                                        <br />
                                    }
                                    <span class="govuk-body-s">@trainingProvider.FromDate.ToString("MMM yyyy") to @trainingProvider.ToDate.ToString("MMM yyyy")</span>
                                </p>
                            }
                        </td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Apprentice details</h2>
            </div>
            <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
                @if (Model.EnableEdit && !Model.IsOnFlexiPaymentPilot.GetValueOrDefault())
                {
                    <a id="edit-apprentice-link" href="@Url.Action("EditApprenticeship", new { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId })" class="govuk-link govuk-body">Edit<span class="govuk-visually-hidden"> apprentice details</span></a>
                }
            </div>
        </div>
        <table class="govuk-table govuk-!-margin-bottom-8">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header  das-table-cell-width-45">Name</th>
                    <td id="apprentice-name" class="govuk-table__cell das-table-cell-width-55">@Model.ApprenticeName</td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Email) || Model.EmailShouldBePresent)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Email address</th>

                        <td class="govuk-table__cell">
                            <table>
                                <tr>
                                    <td id="email-address">@Model.Email</td>
                                </tr>
                                @if (Model.CanResendInvitation)
                                {
                                    <tr>
                                        <td>
                                            <a id="resend-email-invitation-link" href="@Url.Action("ResendEmailInvitation", new ResendEmailInvitationRequest { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId })" class="govuk-link">Resend invitation email</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Unique learner number</th>
                    <td id="uln" class="govuk-table__cell">@Model.ULN</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td id="date-of-birth" class="govuk-table__cell">
                        @if (Model.DateOfBirth.HasValue)
                        {
                            @Model.DateOfBirth.Value.ToGdsFormat()
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m">
            Apprenticeship details
        </h2>
        <table class="govuk-table  govuk-!-margin-bottom-8">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Apprenticeship training course </th>
                    <td class="govuk-table__cell das-table-cell-width-55" colspan="2">@Model.TrainingName </td>
                </tr>
                @if (!Model.DeliveryModel.Equals(DeliveryModel.Regular) || Model.HasMultipleDeliveryModelOptions)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header das-table-cell-width-45">Apprenticeship delivery model</th>
                        <td class="govuk-table__cell das-table-cell-width-55" colspan="2">@Model.DeliveryModel.ToDescription()</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.Version))
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"> Version </th>
                        <td id="version" class="govuk-table__cell" colspan="2">@Model.Version </td>
                        @if (Model.EnableEdit && Model.HasNewerVersions && !Model.IsOnFlexiPaymentPilot.GetValueOrDefault())
                        {
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a id="change-training-provider-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ChangeVersion, new { Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId })">Change</a>
                            </td>
                        }
                        else
                        {
                            <td class="govuk-table__cell"></td>
                        }
                    </tr>
                }
                @if (Model.TrainingType == ProgrammeType.Standard && Model.ShowOptions)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"> Option </th>
                        <td id="option" class="govuk-table__cell" colspan="2">@(!string.IsNullOrEmpty(Model.Option) ? Model.Option : "To be confirmed")</td>
                        @if (Model.EnableEdit && !Model.OnlySingleOption)
                        {
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a id="change-option-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ChangeOption, new { Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId })">Change<span class="govuk-visually-hidden"> option</span></a>
                            </td>
                        }
                        else
                        {
                            <td class="govuk-table__cell"></td>
                        }
                    </tr>
                }

                @{
                    // Start and End Date
                    var startDateLabel = "Planned training start date";
                    var startDate = string.Empty;
                    if (Model.ActualStartDate.HasValue)
                    {
                        startDateLabel = "Actual training start date";
                        startDate = Model.ActualStartDate.Value.ToGdsFormat();
                    }
                    else
                    {
                        if (Model.StartDate.HasValue)
                        {
                            startDate = Model.StartDate.Value.ToGdsFormatWithoutDay();
                        }
                    }

                    var endDate = string.Empty;
                    if (Model.EndDate.HasValue)
                    {
                        endDate = Model.IsOnFlexiPaymentPilot.GetValueOrDefault() ? Model.EndDate.Value.ToGdsFormat() : Model.EndDate.Value.ToGdsFormatWithoutDay();
                    }
                }
                @if (!Model.HasPendingStartDateChange)
                {
                    @* Start Date *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@startDateLabel</th>
                        <td id="start-date" class="govuk-table__cell" colspan="2">@startDate</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    @* Planned End Date *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Planned training end date</th>
                        <td id="end-date" class="govuk-table__cell" colspan="2">@endDate</td>
                        @if (Model.ApprenticeshipStatus == ApprenticeshipStatus.Completed)
                        {
                            <td class="govuk-table__cell">
                                @if (Model.ApprenticeshipStatus == ApprenticeshipStatus.Completed)
                                {
                                    <a id="edit-end-date-link" class="govuk-link" href="@Url.Action("EditEndDate", new EditEndDateRequest { AccountHashedId = Model.AccountHashedId, ApprenticeshipHashedId = Model.HashedApprenticeshipId })">Edit<span class="govuk-visually-hidden"> end date</span></a>
                                }
                            </td>
                        }
                    </tr>
                }
                else
                {
                    @* Pending Start Date Change*@
                    <tr>
                        <td colspan="3">
                            <div id="change-of-start-date" class="" style="border-left: 5px solid #1d70b8; padding:10px;">
						        <table class="govuk-table">
							        <thead class="govuk-table__head">
								        <tr class="govuk-table__row">
									        <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">
										        <strong class="govuk-tag govuk-tag--yellow">Pending request</strong>
									        </th>
									        <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Current</th>
									        <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Requested </th>
									        <td class="govuk-table__cell"></td>
								        </tr>
							        </thead>
							        <tbody class="govuk-table__body">
								        <tr class="govuk-table__row">
									        <th scope="row" class="govuk-table__header">Training start date</th>
									        <td class="govuk-table__cell">@startDate</td>
                                            <td class="govuk-table__cell">@Model.PendingStartDateChange.PendingActualStartDate.ToGdsFormat()</td>
								        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Planned training end date</th>
                                            <td class="govuk-table__cell">@endDate</td>
                                            <td class="govuk-table__cell">@Model.PendingStartDateChange.PendingEndDate.ToGdsFormat()</td>
                                        </tr>
							        </tbody>
						        </table>
                                    <a class="govuk-link" href="@Model.PendingStartDateChangeUrl">
							        Review request<span class="govuk-visually-hidden">for change of start date</span>
						        </a>
						    </div>
                        </td>
                    </tr>
                }


                @if (Model.DeliveryModel.Equals(DeliveryModel.PortableFlexiJob))
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Planned end date for this employment</th>
                        <td id="apprentice-end-date" class="govuk-table__cell">@Model.EmploymentEndDateDisplay</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                }

                @if (Model.DeliveryModel.Equals(DeliveryModel.PortableFlexiJob))
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Training price for this employment</th>
                        <td id="apprentice-end-date" class="govuk-table__cell">@Model.EmploymentPriceDisplay</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                }
                @if (!Model.HasPendingPriceChange)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                        <td id="apprentice-cost" class="govuk-table__cell" colspan="2">@Model.Cost.FormatCost()</td>
                        @if (Model.IsOnFlexiPaymentPilot.GetValueOrDefault())
                        {
                            <td class="govuk-table__cell"><a id="linkChangeApprenticeshipPrice" href="@Model.PriceChangeUrl" class="govuk-link">Change</a></td>
                        }
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Reference </th>
                    <td id="employer-reference" class="govuk-table__cell" colspan="2">@Model.EmployerReference</td>
                    <td class="govuk-table__cell"></td>
                </tr>
            </tbody>
        </table>

        @if (Model.HasPendingPriceChange)
        {
            <div class="govuk-inset-text das-inset-text--highlight">
                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">Price change requested</h2>
                        <strong class="govuk-tag govuk-tag">Pending</strong>
                    </div>
                </div>

                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header"></th>
                        <th class="govuk-table__header">Current</th>
                        <th class="govuk-table__header">Requested</th>
                    </tr>
                    <tr class="govuk-table__row" id="pendingPriceChangeTrainingPriceRow">
                        <th scope="row" class="govuk-table__header">Total price</th>
                        <td class="govuk-table__cell" id="priceChangeCurrentTotalPrice">@Model.Cost.FormatCost()</td>
                        <td class="govuk-table__cell" id="priceChangeRequestedTotalPrice">@Model.PendingPriceChange.Cost.FormatCost()</td>
                    </tr>
                    </tbody>
                </table>
                @if (Model.PendingPriceChange.GetPriceChangeInitiatedBy() == InitiatedBy.Provider)
                {
                    <a id="linkViewPendingPrice" href="@Model.PendingPriceChangeUrl" class="govuk-link">Review price change</a>
                }
                else
                {
                    <a id="linkViewPendingPrice" href="@Model.PendingPriceChangeUrl" class="govuk-link">View change request</a>
                }
            </div>
            <br/><br />
        }

        @if (Model.RecognisePriorLearning != null)
        {
            <div class="govuk-grid-row govuk-!-margin-bottom-2">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">Prior learning details</h2>
                </div>
            </div>

            @if (Model.RecognisePriorLearning == true)
            {
                <table class="govuk-table govuk-!-margin-bottom-8" aria-describedby="prior-learning-details">
                    <tbody class="govuk-table__body">

                        @if (Model.DurationReducedByHours != null)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Duration reduction due to prior learning</th>
                                <td id="apprenticeship-rpl-duration-reduction" class="govuk-table__cell">@Model.DurationReducedByHours.GetValueOrDefault().ToString("N0") hours</td>
                            </tr>
                        }

                        @if (Model.DurationReducedBy != null)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Duration reduction due to prior learning</th>
                                <td id="apprenticeship-rpl-duration-reduction" class="govuk-table__cell">@Model.DurationReducedBy.GetValueOrDefault().ToString("N0") weeks</td>
                            </tr>
                        }

                        @if (Model.PriceReducedBy != null)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Price reduction due to prior learning</th>
                                <td id="apprenticeship-rpl-price-reduction" class="govuk-table__cell">£@Model.PriceReducedBy.GetValueOrDefault().ToString("N0")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p class="govuk-body">This apprentice has no recognised prior learning.</p>
            }
        }

    </div>
</div>

@section back {
    <a id="back-link" class="govuk-back-link" href="@Url.Action("Index", new IndexRequest { AccountHashedId = Model.AccountHashedId, FromSearch = true})">Back to manage your apprentices</a>
}