@inject ILinkGenerator LinkGenerator
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.EditStopDateViewModel

@{
    ViewBag.Title = "When did this apprenticeship training stop?";
    ViewBag.PageId = "edit-stopdate";
    ViewBag.Section = "apprentices";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />

        <h1 class="govuk-heading-xl">
            When did this apprenticeship training stop?
        </h1>

        <form method="post">

            @Html.AntiForgeryToken()        

            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.NewStopDate, "govuk-form-group--error")">

                <fieldset class="govuk-fieldset">

                    <p>
                        The earliest date you can enter is this apprenticeship's start date of @Model.ApprenticeshipStartDate.ToGdsFormatWithoutDay().  Any outstanding payments will be made for activity up to this date.
                    </p>

                    <span class="govuk-hint" id="hint-text">
                        For example, 06 2018
                    </span>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span id="error-message-@nameof(SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.EditStopDateViewModel.NewStopDate)" class="govuk-error-message">
                            @ViewData.ModelState[nameof(SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.EditStopDateViewModel.NewStopDate)].Errors.First().ErrorMessage
                        </span>
                    }

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="NewStopDate.Month" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="NewStopDate.Month" class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.AddClassIfPropertyInError(x => x.NewStopDate,  "govuk-input--error")" type="number" id="stop-month">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="NewStopDate.Year" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="NewStopDate.Year" class="govuk-input govuk-date-input__input govuk-input--width-4 @Html.AddClassIfPropertyInError(x => x.NewStopDate,  "govuk-input--error")" type="number" id="stop-year">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit" id="continue-button">Save and confirm</button>


        </form>
    </div>
</div>


@section Back
{
    <div class="das-js-back-link"></div>
}

