@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using  SFA.DAS.EmployerCommitmentsV2.Web.RouteValues
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.WhatIsTheNewPriceViewModel

@{    
    ViewBag.Title = $"What is the agreed price of completing the training with {Model.ProviderName}? ";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />

        <h1 class="govuk-heading-xl">
            What is the agreed price of completing the training with @Model.ProviderName?
        </h1>

        <form method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ProviderId" />
            <input type="hidden" asp-for="ProviderName" />
            <input type="hidden" asp-for="AccountHashedId" />
            <input type="hidden" asp-for="ApprenticeshipHashedId" />
            <input type="hidden" asp-for="NewStartMonthYear" />
            <input type="hidden" asp-for="NewEndMonthYear" />
            <input type="hidden" asp-for="Edit" />

            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.NewPrice,  "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">

                    <p class="govuk-body">
                        This is the price you agreed with @Model.ProviderName to complete the remainder of the apprenticeship training and assessment.
                    </p>

                    <span class="govuk-hint">
                        For example, 5000
                    </span>

                    @Html.ValidationMessageFor(m => m.NewPrice, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.NewPrice) })
                    <input id="input-newprice" asp-for="NewPrice" class="govuk-input govuk-!-width-one-third @Html.AddClassIfPropertyInError(x=>x.NewPrice, "govuk-input--error input-validation-error")" />

                </fieldset>
            </div>

            <button id="continue-button" class="govuk-button" type="submit"> Continue </button>
        </form>
    </div>
</div>

@section Back
{
    <div id="back-link" class="das-js-back-link"></div>
}