@using SFA.DAS.CommitmentsV2.Shared.Extensions
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Apprentice.WhatIsTheNewEndDateViewModel

@{
    ViewData["Title"] = "What is the new planned training end date with the new training provider? - Apprenticeship service - GOV.UK";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        
        <h1 class="govuk-heading-xl">
            What is the new planned training end date with @Model.ProviderName?
        </h1>

        <form method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ProviderId" />
            <input type="hidden" asp-for="ProviderName" />
            <input type="hidden" asp-for="AccountHashedId" />
            <input type="hidden" asp-for="ApprenticeshipHashedId" />
            <input type="hidden" asp-for="NewStartMonth" />
            <input type="hidden" asp-for="NewStartYear" />
            <input type="hidden" asp-for="NewStartDate" />
            <input type="hidden" asp-for="NewPrice" />
            <input type="hidden" asp-for="Edit" />

            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.NewEndDate,  "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">

                    <p class="govuk-body">
                        This date must be after the new start date (@Model.NewStartDate.ToString("MMMM yyyy")).
                    </p>

                    <span class="govuk-hint">
                        For example, 04 2020
                    </span>

                    @Html.ValidationMessageFor(m => m.NewEndDate, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.NewEndDate) })

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="NewEndMonth" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="NewEndMonth" class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.AddClassIfPropertyInError(x=>x.NewEndDate, "govuk-input--error input-validation-error")" type="number">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="NewEndYear" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="NewEndYear" class="govuk-input govuk-date-input__input govuk-input--width-4 @Html.AddClassIfPropertyInError(x=>x.NewEndDate, "govuk-input--error input-validation-error")" type="number">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" type="submit"> Continue </button>
        </form>
    </div>
</div>

@section Back
{
    <div class="das-js-back-link"></div>
}