@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.CohortCardLinkViewModel

<li class="das-tabs-boxes__list-item">
    <a class="das-tabs-boxes__tab @(ViewBag.Section == Model.LinkId ? "das-tabs-boxes__tab--selected" : "")" href="@Model.Url" id="@Model.LinkId">
        <span class="das-tabs-boxes__figure">@Model.Count</span>
        <span class="das-tabs-boxes__text das-text-capitalise">@Model.Description</span>
    </a>
</li>