@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort
@using SFA.DAS.EmployerUrlHelper.Mvc
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.ApprenticeViewModel

@{
    ViewData["Title"] = "Add apprentice details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Add apprentice details</h1>
        <div class="govuk-inset-text">
            <p class="govuk-body">You must add the apprentice’s first and last names - fill in as many other fields as you can. You'll be able to return later to make changes or add more information. </p>
            <p class="govuk-body">You'll only be able to authorise payments for this apprentice once all the fields have been completed - either by yourself or your training provider</p>
        </div>

        <form id="addApprenticeship" novalidate method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ProviderId)
            @Html.HiddenFor(x => x.AccountLegalEntityHashedId)
            @Html.HiddenFor(x => x.TransferSenderId)
            @Html.HiddenFor(x => x.Origin)

            <partial name="DraftApprenticeship" for="@Model" />

            <button type="submit" class="govuk-button">Save and continue</button>
        </form>

    </div>
</div>

@section Back
{
    @if (Model.Origin == Origin.Reservations || Model.AutoCreatedReservation)
    {
        @Html.ActionLink("Back", "Assign", "Cohort", new
        {
            Model.AccountHashedId,
            Model.AccountLegalEntityHashedId,
            Model.CourseCode,
            Model.ProviderId,
            ReservationId = Model.AutoCreatedReservation ? default(Guid?) : Model.ReservationId,
            Model.TransferSenderId,
            StartMonthYear = $"{@Model.StartMonth}{@Model.StartYear}"
        }, new { @class = "govuk-back-link", id = "back-link" })
    }
    else
    {
        var url = Url.ReservationsLink($"accounts/{Model.AccountHashedId}/reservations/{Model.AccountLegalEntityHashedId}/select?providerId={Model.ProviderId}&transferSenderId={Model.TransferSenderId}");
            <a href="@url" id="back-link" class="govuk-back-link">Back</a>
    }
}


@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@