@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.AssignViewModel

@{
    ViewBag.Title = "Start adding apprentices";
    ViewBag.GaData.Vpv = "/unapproved/add/assign";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary"/>

        <h1 class="govuk-heading-xl">Start adding apprentices</h1>
        
        <p class="govuk-body-l">You can start adding details of your apprentices or ask your training provider to add them for you.</p>
        <p class="govuk-body-l">If you ask your training provider to add them, you need to check and agree the details before any payments are made.</p>

        <form method="post">
            <partial name="_AssignHiddenPartial" model="@Model" />
            
            <div class="govuk-form-group  @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(nameof(AssignViewModel.WhoIsAddingApprentices)))
                    {
                        <span id="error-message-@nameof(AssignViewModel.WhoIsAddingApprentices)" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(AssignViewModel.WhoIsAddingApprentices)].Errors.First().ErrorMessage
                        </span>
                    }
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="WhoIsAddingApprentices" name="WhoIsAddingApprentices" type="radio" value="@WhoIsAddingApprentices.Employer">
                            <label class="govuk-label govuk-radios__label" for="WhoIsAddingApprentices">
                                I will add apprentices
                            </label> </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="WhoIsAddingApprentices-Provider" name="WhoIsAddingApprentices" type="radio" value="@WhoIsAddingApprentices.Provider">
                            <label class="govuk-label govuk-radios__label" for="WhoIsAddingApprentices-Provider">
                                I would like my provider to add apprentices
                                @if (Model.ReservationId != null)
                                {
                                    <span id="WhoIsAddingApprentices-Provider-hint" class="govuk-hint">
                                        Your provider will have to select or make a new funding reservation on your behalf if you choose this option
                                    </span>
                                }
                            </label>
                            </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>