@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.DetailsViewModel

@{
    ViewData["Title"] = "Approve apprentices' details";
}

<h1 class="govuk-heading-xl">Approve @Model.DraftApprenticeships.Count apprentices' details</h1>


<p><strong>Organisation:</strong> @Model.LegalEntityName</p>
<p><strong>Reference:</strong> @Model.CohortReference</p>

<p><strong>Message from @Model.ProviderName:</strong></p>
<div class="govuk-inset-text">
    <p class="govuk-body">    
        @if (string.IsNullOrWhiteSpace(@Model.Message))
        {
            <span>No message added.</span>
        }
        else
        {
            @Model.Message
        }
    </p>
</div>

<table class="responsive govuk-table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th>Date of birth</th>
        <th>Training dates</th>
        <th>Price</th>
    </tr>
    </thead>
@foreach (var draftApprenticeship in Model.DraftApprenticeships)
{
    <tr>
        <td>@draftApprenticeship.DisplayName</td>
        <td>@draftApprenticeship.DisplayDateOfBirth</td>
        <td>@draftApprenticeship.DisplayTrainingDates</td>
        <td>@draftApprenticeship.DisplayCost</td>
    </tr>
}
</table>