@using SFA.DAS.EmployerUrlHelper.Mvc
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.DraftApprenticeship
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.DetailsViewModel
@*@inject ILinkGenerator LinkGenerator
@inject SFA.DAS.Authorization.Services.IAuthorizationService AuthorizationService*@

@{
    ViewData["Title"] = Model.PageTitle;
    ViewBag.GaData.Vpv = "/unapproved";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        @if (!Model.IsAgreementSigned)
        {

            <div class="govuk-panel" style="border-color:#2e358b;">
                <h1 class="govuk-panel__title">
                    You must sign your employer agreement before you can approve this record
                </h1>
            </div>
        }
        else
        {
            if (!Model.IsCompleteForEmployer)
            {

                <div class="govuk-panel" style="border-color:#2e358b;">
                    <h1 class="govuk-panel__title">
                        You must complete all apprentice details before you can approve this record
                    </h1>
                </div>
            }
        }

        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">@Model.PageTitle</h1>

        <dl class="das-definition-list das-definition-list--inline">
            <dt class="das-definition-list__title govuk-!-margin-bottom-4">Organisation</dt>
            <dd class="das-definition-list__definition govuk-!-margin-bottom-4">@Model.LegalEntityName</dd>
            <dt class="das-definition-list__title">Reference</dt>
            <dd class="das-definition-list__definition">@Model.CohortReference</dd>
        </dl>

        <h2 class="govuk-heading-s">Message from @Model.ProviderName:</h2>
        <div class="govuk-inset-text">
            @if (string.IsNullOrWhiteSpace(@Model.Message))
            {
                <span>No message added.</span>
            }
            else
            {
                @Model.Message
            }
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        @foreach (var course in Model.Courses)
        {
            <h3 class="govuk-heading-m">@course.Count x @course.DisplayCourseName</h3>
            if (@course.FundingBandExcess != null)
            {
                <div class="govuk-inset-text das-inset-text--highlight">
                    <h3 class="govuk-heading-s">@course.FundingBandExcess.FundingBandCapExcessHeader</h3>
                    <p>
                        @course.FundingBandExcess.FundingBandCapExcessLabel
                        <text><a target="_blank" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">funding band maximum</a>@course.FundingBandExcess.DisplaySingleFundingBandCap</text>
                        You'll need to pay the difference directly to the training provider.
                    </p>
                </div>
            }
            <table class="govuk-table das-table--responsive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header das-table-cell-width-25">Name</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-25">Date of birth</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-30">Training dates</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric das-table-cell-width-10">Price</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-10"><span class="govuk-visually-hidden">Action</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    @foreach (var draftApprenticeship in course.DraftApprenticeships)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">@draftApprenticeship.DisplayName</td>
                            <td class="govuk-table__cell" data-label="Date of birth">@draftApprenticeship.DisplayDateOfBirth</td>
                            <td class="govuk-table__cell" data-label="Training dates">@draftApprenticeship.DisplayTrainingDates</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price">
                                @if (@draftApprenticeship.ExceedsFundingBandCap)
                                {
                                    <span class="das-table-cell--highlight">
                                        @draftApprenticeship.DisplayCost
                                    </span>
                                }
                                else
                                {
                                    @draftApprenticeship.DisplayCost
                                }
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a class="govuk-link edit-apprentice" href="@Url.RouteUrl("Details", new {@draftApprenticeship.DraftApprenticeshipHashedId, @Model.CohortReference, @Model.AccountHashedId })">
                                    @(Model.IsReadOnly ? "View" : "Edit")
                                    <span class="govuk-visually-hidden">@draftApprenticeship.DisplayName's details</span>
                                </a>
                                <br /><br />
                                @if (!Model.IsReadOnly)
                                {
                                    <a class="govuk-link delete-apprentice" href="@Url.RouteUrl("DeleteDraftApprenticeship", new { draftApprenticeship.DraftApprenticeshipHashedId, Model.CohortReference, Model.AccountHashedId, Origin = DeleteDraftApprenticeshipOrigin.CohortDetails})">
                                        Delete <span class="govuk-visually-hidden">@draftApprenticeship.DisplayName's details</span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header das-table-cell-width-80" scope="row">Total apprenticeship training price <br>(excluding VAT)</th>
                    <td class="govuk-table__cell govuk-table__header--numeric das-table-cell-width-10"><strong>@Model.DisplayTotalCost</strong></td>
                    <td class="govuk-table__cell das-table-cell-width-10" aria-hidden="true"></td>
                </tr>
            </tbody>
        </table>

        @if (!Model.IsReadOnly)
        {
            <p>
                <a href="@Url.ReservationsLink($"accounts/{Model.AccountHashedId}/reservations/{Model.AccountLegalEntityHashedId}/select?cohortReference={Model.CohortReference}&transferSenderId={Model.TransferSenderHashedId}")" class="govuk-link add-apprentice">Add another apprentice</a>
                <a asp-action="ConfirmDelete" asp-route-AccountHashedId="@Model.AccountHashedId" asp-route-CohortReference="@Model.CohortReference" class="govuk-link das-float-right">Delete this group</a>
            </p>

            <hr class="govuk-section-break govuk-section-break--l">

            <form id="submitCohort" novalidate method="post">
                <div class="govuk-form-group  @Html.AddClassIfPropertyInError(x => x.Selection, "govuk-form-group--error")">

                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h3 class="govuk-fieldset__heading">@Model.OptionsTitle</h3>
                        </legend>
                        @Html.ValidationMessageFor(m => m.Selection, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.Selection) })
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                            @if (Model.ShowViewAgreementOption)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="radio-view" name="selection" type="radio" value="@CohortDetailsOptions.ViewEmployerAgreement" data-aria-controls="conditional-view">
                                    <label class="govuk-label govuk-radios__label" for="radio-view">
                                        View employer agreement
                                    </label>
                                </div>
                            }

                            @if (Model.EmployerCanApprove)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="radio-approve" name="selection" type="radio" value="@CohortDetailsOptions.Approve" data-aria-controls="conditional-approve">
                                    <label class="govuk-label govuk-radios__label" for="radio-approve">
                                        Yes, approve and notify training provider
                                    </label>
                                </div>
                            }
                            @if (!Model.ShowApprovalOptionMessage)
                            {
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-approve">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="approve-details">
                                            Leave @Model.ProviderName a message (optional)
                                        </label>
                                        <textarea class="govuk-textarea" id="approve-details" name="approvemessage" rows="5"></textarea>
                                    </div>
                                </div>
                            }
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radio-send" name="selection" type="radio" value="@CohortDetailsOptions.Send" data-aria-controls="conditional-send">
                                <label class="govuk-label govuk-radios__label" for="radio-send">
                                    @Model.SendBackToProviderOptionMessage
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-send">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="send-details">
                                        Leave @Model.ProviderName a message (optional)
                                    </label>
                                    <textarea class="govuk-textarea" id="send-details" name="sendmessage" rows="5"></textarea>
                                </div>
                            </div>

                            @if (Model.ShowGotoHomePageOption)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="radio-home" name="selection" type="radio" value="@CohortDetailsOptions.Homepage">
                                    <label class="govuk-label govuk-radios__label" for="radio-home">
                                        Go to homepage
                                    </label>
                                </div>
                            }

                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">Save and submit</button>

                <p>
                    <a href="@Url.CommitmentsLink($"accounts/{Model.AccountHashedId}/apprentices/cohorts")" class="govuk-link">Save and exit</a>
                </p>

            </form>
        }

    </div>
</div>

@section Back
{
    <a class="govuk-back-link" href="@Url.Action("Cohorts", new {Model.AccountHashedId})">Back</a>
}
