@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.FinishedViewModel

@{
    ViewData["Title"] = "Instructions sent";
    ViewBag.GaData.Vpv = "/unapproved/add/finished";
    ViewBag.GaData.Org = Model.LegalEntityName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Add apprentice request sent to training provider</h1>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reference</dt>
                <dd class="govuk-summary-list__value">@Model.CohortReference</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Training provider</dt>
                <dd class="govuk-summary-list__value">@Model.ProviderName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Message for training provider</dt>
                <dd class="govuk-summary-list__value">@(string.IsNullOrEmpty(Model.Message) ? "No message" : Model.Message)</dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p class="govuk-body">Your training provider will add the apprentice’s details. Then you'll get another email asking you review and approve the apprentice’s details as soon as possible.</p>
        <p class="govuk-body">Once you have approved the apprentice details sent by the training provider, you will see their details in the 
            <a class="govuk-link govuk-link--no-visited-state" href="@Url.Action("Index", "Apprentice", new { Model.AccountHashedId })" id="manage-apprentices">Manage apprentices</a>
            section of the homepage.
        </p>
        <div class="govuk-inset-text das-inset-text--filled">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Help us improve this section</h3>
            <p class="govuk-body">Take a 3 minute survey about adding apprentices so that we can improve the service.</p>
            <a class="govuk-button" href="https://www.smartsurvey.co.uk/s/apprenticeshipservicefeedback">Take the survey</a>
        </div>
    </div>    
</div>

@section Back
{
    <a id="back-link" class="govuk-back-link" href="@Url.Action("Index", "Home", new {Model.AccountHashedId})">Back to Apprentices</a>
} 