@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.FinishedViewModel

@{
    ViewData["Title"] = "Instructions sent";
    ViewBag.GaData.Vpv = "/unapproved/add/finished";
    ViewBag.GaData.Org = Model.LegalEntityName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Request sent to training provider</h1>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reference</dt>
                <dd class="govuk-summary-list__value">@Model.CohortReference</dd>
            </div>
            @if (Model.FundingSource is not null)
            {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Funding</dt>
                <dd class="govuk-summary-list__value">@Model.FundingSource</dd>
            </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Training provider</dt>
                <dd class="govuk-summary-list__value">@Model.ProviderName</dd>
            </div>
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Names of learners</dt>
                <dd class="govuk-summary-list__value">@(string.IsNullOrEmpty(Model.Message) ? "No message" : Model.Message)</dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
            Your training provider will add details for each learner you’ve requested.        
        </p>
        <p class="govuk-body">
            You’ll get an email when your training provider has added details. Then you’ll need to review and approve them.
        </p>

        <h2 class="govuk-heading-m">Permissions</h2>
        <p class="govuk-body">
            You can view and update your <a asp-external-subdomain="relationships" asp-external-relativeroute="accounts/@Model.AccountHashedId/providers" asp-external-id="@Model.AccountHashedId" asp-external-controller="providers" target="_blank" asp- class="govuk-link">  training provider permissions (opens in new tab) in your account.</a>
        </p >

        <h2 class="govuk-heading-m">Payments</h2>
        <p>You can only authorise payments after both you and your training provider complete and approve all learner details.</p>

        <a id="back-to-learner-link" class="govuk-link govuk-link--no-visited-state" href="@Url.Action("Index", "Home", new { Model.AccountHashedId })">Back to learners</a>
        
    </div>
</div>

@section Back
{
    <a id="back-link" class="govuk-back-link" href="@Url.Action("Index", "Home", new { Model.AccountHashedId })">Back</a>
} 