@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.MessageViewModel

@{
    ViewData["Title"] = "Apprenticeships";
    ViewBag.GaData.Vpv = "/unapproved/add/message";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Message for your training provider</h1>
        <p class="govuk-body-l">Let <b>@Model.ProviderName</b> know what you'd like them to do next.</p>
        <form method="post">

            @Html.HiddenFor(x => x.AccountLegalEntityHashedId)
            @Html.HiddenFor(x => x.ReservationId)
            @Html.HiddenFor(x => x.CourseCode)
            @Html.HiddenFor(x => x.StartMonthYear)
            @Html.HiddenFor(x => x.ProviderId)
            @Html.HiddenFor(x => x.TransferSenderId)

            <div class="govuk-form-group  @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                <label class="govuk-label govuk-!-font-weight-bold" for="Message">Message (optional)</label>
                @Html.TextAreaFor(m=>m.Message, new {@class = "govuk-textarea", cols = 40, rows = 10  })
            </div>

            <button type="submit" class="govuk-button">Send</button>
        </form>

    </div>
</div>