@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort
@using SFA.DAS.EmployerUrlHelper.Mvc

@{
    ViewBag.Title = "Select a connection";
    ViewBag.GaData.Vpv = "/unapproved/add/select-funding/select-direct-connection";
}

@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.SelectTransferConnectionViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ValidationSummary" />

        <h1 class="govuk-heading-l"> @ViewBag.Title </h1>
        
        <p class="govuk-body">
            These are the existing transfer connections.
        </p>
        
        <p class="govuk-body">
            You can only use one transfer from a connection per application, but you can
            add multiple apprenticeships to that transfer.
        </p>

        <p class="govuk-body">
            The employer you're connected with will need to approve the funds.
        </p>

        <p class="govuk-body">
            If you cannot find the transfer you need, you can <a href="@Url.FinanceLink($"accounts/{Model.AccountHashedId}/transfers/connections")" id="info-link" target="_blank" class="govuk-link">manage your transfer connections (opens in new tab)</a>
        </p>

        <form method="post">

            <h1 class="govuk-heading-m">Which connection would you like to select?</h1>

            @Html.AntiForgeryToken()

            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.TransferConnectionCode, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset" id="radio-lines">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span id="error-message-@nameof(SelectTransferConnectionViewModel.TransferConnectionCode)" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(SelectTransferConnectionViewModel.TransferConnectionCode)].Errors.First().ErrorMessage
                        </span>
                    }
                    <div class="govuk-radios">
                        @foreach (var entity in Model.TransferConnections)
                        {
                            <div class="govuk-radios__item" id="radio-item-transfer-connection">
                                <input class="govuk-radios__input" id="TransferConnection-@entity.FundingEmployerPublicHashedAccountId" name="TransferConnectionCode" type="radio" value="@entity.FundingEmployerPublicHashedAccountId">
                                <label class="govuk-label govuk-radios__label" for="TransferConnection-@entity.FundingEmployerPublicHashedAccountId">
                                    @entity.FundingEmployerAccountName
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" id="submit-transfer-connection">Continue</button>
        </form>

    </div>
</div>

@section Back
{
    <a href="@Url.Action("Inform", "Cohort", new { Model.AccountHashedId})" id="back-link" class="govuk-back-link">Back</a>
}