@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort
@using SFA.DAS.EmployerUrlHelper.Mvc
@model SFA.DAS.EmployerCommitmentsV2.Web.Models.Cohort.SelectProviderViewModel
@{
    ViewData["Title"] = "Apprenticeships";
    ViewBag.Title = "Add training provider details";
    ViewBag.GaData.Vpv = "/unapproved/add/select-provider";
    ViewBag.GaData.Org = Model.LegalEntityName;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ValidationSummary" />
        <form method="post">
            @Html.AntiForgeryToken()          
            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.ProviderId, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Enter your training provider's name or reference number (UKPRN)
                        </h1>
                    </legend>

                    <p class="govuk-body">
                        A UKPRN is the unique, 8-digit number we use to identify a training provider. Ask your training provider if you do not know it.
                    </p>

                    @Html.ValidationMessageFor(m => m.ProviderId, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.ProviderId) })
                    <label class="govuk-label" for="Ukprn">Select training provider</label>
                    <select id="Ukprn" name="ProviderId" asp-for="ProviderId" class="govuk-select das-autocomplete @Html.AddClassIfPropertyInError(x => x.ProviderId, "govuk-select--error")">
                        <option class="das-js-hide" value="">Select training provider</option>
                        @foreach (var provider in Model.Providers)
                        {
                            <option value="@provider.Ukprn"> @provider.Name @provider.Ukprn</option>
                        }
                    </select>

                </fieldset>
            </div>

            <button class="govuk-button" id="Ukprn-button" type="submit"> Continue </button>
        </form>


    </div>
</div>

@section Back {

    @if (Model.Origin == Origin.Reservations)
    {
        @Html.ActionLink("Back", "Index", "Cohort", new
        {
            Model.AccountHashedId,
            Model.AccountLegalEntityHashedId,
            Model.ReservationId,
            Model.CourseCode,
            Model.StartMonthYear
        }, new { @class = "govuk-back-link", id = "back-link" })
    }
    else if (Model.Origin == Origin.LevyTransferMatching)
    {
        <a href="@Url.LevyTransferMatchingLink($"accounts/{Model.AccountHashedId}/applications/{Model.EncodedPledgeApplicationId}")" id="back-link" class="govuk-back-link">Back</a>
    }
    else
    {
        <a href="@Url.Action("Inform", "Cohort", new { Model.AccountHashedId})" id="back-link" class="govuk-back-link">Back</a>
    }
}